@model PointingPoker.Models.PointViewModel
<h1>Pointing</h1>
<form method="post">
    @Html.HiddenFor(x => x.Card.Id)
    <p style="font-size: 2.5em;">
        @Model.Card.Description
    </p>
    <p>
        <label class="button">1 @Html.RadioButtonFor(x => x.PointValue, "1")</label>
        <label class="button">2 @Html.RadioButtonFor(x => x.PointValue, "2")</label>
        <label class="button">3 @Html.RadioButtonFor(x => x.PointValue, "3")</label>
        <label class="button">5 @Html.RadioButtonFor(x => x.PointValue, "5")</label>
        <label class="button">8 @Html.RadioButtonFor(x => x.PointValue, "8")</label>
        <label class="button">13 @Html.RadioButtonFor(x => x.PointValue, "13")</label>
        <label class="button">21 @Html.RadioButtonFor(x => x.PointValue, "21")</label>
        <label class="button">34 @Html.RadioButtonFor(x => x.PointValue, "34")</label>
        <label class="button">55 @Html.RadioButtonFor(x => x.PointValue, "55")</label>
        <label class="button">89 @Html.RadioButtonFor(x => x.PointValue, "89")</label>
        <label class="button">Pass @Html.RadioButtonFor(x => x.PointValue, "0")</label>
    </p>
    <p>
        <button type="submit">Point</button>
    </p>
</form>