@model PointingPoker.DataAccess.Models.Card
<h1>Card</h1>
<form method="post">
    @Html.HiddenFor(x => x.CreatedBy)
    @Html.HiddenFor(x => x.TeamId)
    @Html.HiddenFor(x => x.Description)
    <p>
        <label>
            Reopen card: @Model.Description @Html.CheckBox("shouldReopen")
        </label>
    </p>
    <p>
        <button type="submit">Reopen</button>
    </p>
</form>